Server/Resources/Client/*
Server/.sentry-native
**/.DS_Store
**/.vscode/*
Server.log
Server.old.log
.sentry-native
.Threads.log
**/.ServerConfig.toml.swp
BeamMP/Server/Resources/Client/2023 Alpine F1.zip
BeamMP/Server/Resources/Client/2023 F1 BMW.zip
BeamMP/Server/Resources/Client/2023 Lotus F1.zip
BeamMP/Server/Resources/Client/Alfa Romeo F1 2023.zip
BeamMP/Server/Resources/Client/Audi R8 2020.zip
BeamMP/Server/Resources/Client/F1 Benz A.zip
BeamMP/Server/Resources/Client/Ferrari F1 2023.zip
BeamMP/Server/Resources/Client/Innocent TriX Bugatti Chiron.zip
BeamMP/Server/Resources/Client/McLaren F1.zip
BeamMP/Server/Resources/Client/Red Bull F1.zip
BeamMP/Server/Resources/Client/Renault Megane RS Trophy.zip
BeamMP/Server/Resources/Client/Tank T-80UD.zip
BeamMP/Server/Resources/Client/Tauri F1.zip
BeamMP/Server/Resources/Client/Williams F1 2023.zip
BackEnd/Python-src/supervisord.log
BackEnd/Python-src/supervisord.pid
BackEnd/Python-src/start-tunnel.sh
